@using PlaylistES.Models
@model IEnumerable<PlaylistES.Models.YouTubeVideo>

@{
    ViewData["Title"] = "Videos page";
}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


   
</head>
<body>
    @{
        Playlists playlist = ViewBag.Playlist; 
        User user = ViewBag.user; 
    }
    <div class="SideBar">
        <div class="ProfContainer">  
            <img draggable="false" class="imgP" src=@user.Profilepicture>
        <div class="ProfName">
            <p>@user.username</p>
        </div>
        
    </div>
    <div class="Divider"></div>
    <div class="PLContainer">
        <div class="PLContainer2">
                <img  draggable="false" class="imgPL" src=@playlist.PlaylistImage/>
                <div class="PLTitle">
                    <p>@playlist.PlaylistName</p>
                </div>
                <div class="PLDescription">
                    <p>@playlist.PlaylistDescription</p>
                </div>
            </div>
        </div>
            <div class="Divider"></div>
        <div class="PLContainer2">
            <div class="PLTitle">
                  Add More Videos!
            </div> 
            <form method="get" asp-action="Search" asp-controller="Search" asp-route-id="@playlist.PlaylistId">
            <button class="addcontent" >
                <i class="material-icons">library_add</i>
            </button>
            </form>
        </div>
    </div>

    
    
        @if (@Model.Count() == 0)
        {
             <div class="empty">
                <h1 > You have no videos here.. </h1> <br>
                <h1> Let's start by adding a new video! </h1>
             </div>
        }
        <div class="VideoContainer" id="VideoContainer">
            @foreach (var item in Model) {

                <div class="ContentC">
                    <div>
                        <div class="header">
                            <div class="VideoTitle">@Html.DisplayFor(modelItem => item.VideoTitle)</div>
                            <form class="delete" method="post" asp-action="Delete" asp-controller="YtVideos" asp-route-id="@playlist.PlaylistId" asp-route-vidId="@item.Video_id">
                                <button class="delete" type="submit"><i class="material-icons">delete</i></button>
                            </form>
                        </div>
                        <div class="Image-container">
                            <img draggable="false" class="imgPL" src=@Html.DisplayFor(modelItem => item.Thumbnail)>
                        </div>                  
                    </div>  
                </div>
                }
            
    </div>
   
</body>
<!--DRAGGABLE LIST: https://www.codingnepalweb.com/drag-drop-list-or-draggable-list-javascript/ -->
 <script>
    const dragArea = document.querySelector(".VideoContainer");
    new Sortable(dragArea, {
      animation: 500
    });

  </script>
